@font-face {
    font-family: fredoka;
    src: url("../fonts/Fredoka-VariableFont_wdth\,wght.ttf");
}

html, *, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(235, 52, 119);
    font-family: fredoka, 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    width: 100vw;
    background: transparent;
}

h1 {
    font-size: 46px;
    color: rgb(235, 52, 119);
    text-shadow: 2px 2px rgb(0, 0, 0);
}

body.home {
    background-image: url("../image/brick-wall-1834784_1920.jpg");
}

.menu-body {
    background-color: rgb(255, 255, 204);
}

nav {
    background-color: transparent;
    height: 100px;
}

body:not(.home) nav {
    background-color: lightseagreen;
    box-shadow: 1px 1px 5px black;
}

main {
    width: 100%;
    height: 100%;
}

nav .my-nav-item {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    transition: all 150ms;
    cursor: pointer;
}

.my-nav-item.active {
    color: white;
}

nav .my-nav-item:hover {
    color: rgb(235, 52, 119);
}

nav .my-nav-item:active {
    transform: scale(0.98);
}

.main-text {
    background-image: linear-gradient(90deg, rgb(235, 52, 119), rgb(243, 205, 135));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bolder;
    font-size: 38px;
    width: 230px;
    text-align: center;
    position: relative;
}

.main-text::after {
    content: "Come Taste Innovation at its Finest";
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    font-size: 38px;
    text-shadow: 1px 1px black,
            -1px -1px black,
            -1px 1px black,
            1px -1px black;
    z-index: -1;
}

.sub-text {
    text-align: center;
    color: rgb(243, 205, 135);
    font-weight: bolder;
    font-size: 22px;
    text-shadow: 1px 1px black, 
        -1px -1px black, 
        -1px 1px black, 
        1px -1px black;
}

.order-now-btn {
    background-color: rgb(235, 52, 119);
    color: rgb(255, 234, 190);
    border: none;
    border-radius: 24px;
    padding: 5px 20px;
    transition: all 300ms;
}

.order-now-btn:hover {
    color: rgb(235, 52, 119);
    background-color: rgb(255, 234, 190);
}

.order-now-btn:active {
    transform: scale(1.05);
}

.menu-head {
    text-align: center;
    color: rgb(255, 239, 204);
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
    font-size: 64px;
    font-weight: bold;
}

img[src="./image/chef.png"] {
    height: 80px;
    width: 80px;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    border-radius: 24px;
    width: 80%;
    padding: 40px;
}

.main-menu li {
    flex: 1;
    margin: 30px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 620px;
}

.main-menu li > h3 {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px dotted black;
    color: rgb(8, 114, 133);
}

.main-menu li > p {
    color: rgb(8, 114, 133);
    text-align: justify;
}

.price {
    color: rgb(241, 64, 64);
}

.main-menu li > img {
    width: 256px;
    grid-row: span 2;
}